<!DOCTYPE html>  
<html lang="en">  
    <head>  
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        
        <meta charset="UTF-8">  
        <title>Matricula Records</title>  
         {% load staticfiles %}  
        <link rel="stylesheet" href="{% static 'css/style.css' %}"/>  
    </head>  
    <body>  
        <table class="table table-striped table-bordered table-sm">  
            <thead class="thead-dark">  
            <tr>  
                <th>Matricula</th>  
                <th>Disciplina</th>  
                <th>Aluno id</th>  
                <th>Aluno Nome</th>  
                <th>Actions</th>  
            </tr>  
            </thead>  
            <tbody>  
        {% for matricula in matriculas %}  
            <tr>  
                <td>{{ matricula.id }}</td>  
                <td>{{ matricula.disciplina.nome }}</td>  
                <td>{{ matricula.aluno.id }}</td>  
                <td>{{ matricula.aluno.nome }}</td>  
                
                <td>  
                    <a href="/matriculaEdit/{{ matricula.id }}"><span class="glyphicon glyphicon-pencil" >Edit</span></a>  
                    <a href="/delete/{{ matricula.id }}">Delete</a>  
                </td>  
            </tr>  
        {% endfor %}  
            </tbody>  
        </table>  
        <br>  
        <br>  
        <center><a href="/matricula" class="btn btn-primary">Add New Record</a></center>  
    </body>  
</html>  